<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
      <!-- 官方源放第一位，优先级最高 -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="local" value="C:\Users\Administrator\.nuget\packages" />
  </packageSources>
  <config>
    <add key="globalPackagesFolder" value="C:\Users\Administrator\.nuget\packages" />
  </config>
</configuration>
