<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="local" value="C:\Users\Administrator\.nuget\packages" />
  </packageSources>
  <config>
    <add key="globalPackagesFolder" value="C:\Users\Administrator\.nuget\packages" />
  </config>
</configuration>
